{% extends 'store/base.html' %} 
{% load static %} 
{% block title %} Change Password
{% endblock title %} 
{% block main-content %}
<div class="container my-5">
    <div class="row">
        
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="#" class="btn btn-primary"
                    >Thay đổi mật khẩu hoàn tất</a>
                </li>
            </ul>
        </div>
    
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3> Thay đổi mật khẩu thành công !!!!</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="300px" height="300px" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
            </div>
        </div>
  </div>
</div>
{% endblock main-content %}
