{% extends 'store/base.html' %} 
{% load static %} 
{% block title %} Search Result
{% endblock title %} 
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                {% for prod in product %}
                    <div class="col-sm-4 text-center mb-4 hover-shadow">
                        <a href="{% url 'productdetail' prod.id_product %}" class="btn">
                            <div>
                              <img src="{{prod.product_image.url}}" width="300px" height="200px" alt="">
                              <div class="fw-bold">{{prod.name_product}}</div>
                              <div class="fw-bold text-danger">
                                    {{prod.formatted_price}} VNĐ
                              </div>
                            </div>
                        </a>
                    </div> 
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
